div > div.navbar {
  width: 100%;
  height: 56px;
  position: sticky;
  top: 0;
  background-color: #15171e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}
div > div > div.battlesvg {
  min-width: 166px;
  padding: 0 8px;
  height: inherit;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
}
div > div > div.resize {
  display: none;
}
div > div > div.resize > div.resizeinner {
  display: none;
}
div > div > div.secondnavbar {
  display: flex;
}
div > div > div > div.downloadicon {
  display: none;
}
div > div > div > div.support {
  display: none;
}
div.accounttext {
  display: none;
}
div.account i.fa-chevron-down {
  display: none;
}
div.navbar div.account {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  transition: 200ms;
}
div.navbar div.account i.accounticon {
  font-size: 22px;
  color: #ffffff;
}
div.navbar div.menubar {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  cursor: pointer;
}
div.navbar div.menubar i.menubar {
  font-size: 20px;
  color: #ffffff;
}
div.menuClose{
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background-color: #23252b;
  cursor: pointer;
}
div.menuClose  .fa-xmark{
  font-size: 20px;
  color: #fffff8;
}
div.menuClose:hover{
background-color: #1e1f20;
}